* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-db {
    text-align: center;
}

.header {
    background-color: darkblue;
    padding: 1rem 0;
    margin-bottom: 2rem;
    color: white;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
}

.btn-grey {
    border: 1px solid darkgray;
    color: white;
    background-color: darkgray;
}

.btn-blue {
    border: 1px solid darkblue;
    color: white;
    background-color: darkblue;

}