* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-db {
    text-align: center;
}

.header {
    background-color: cornflowerblue;
    padding: 2rem 0;
    margin-bottom: 2rem;
    color: white;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.movie-card {
    width: 10rem;
    margin: 1rem;
}

.movie-card img {
    width: 100%;
}

.movie-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    width: 80%;
    padding: 1rem;
    border: 1px solid grey;
    margin: 2rem auto;
}

.movie-form-input {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 1rem;
}

.movie-form-input input, .input {
    padding: 0.5rem;
}

.movie-form button {
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

@media (min-width: 600px) {
    .movie-form {
        width: 40%;
    }

}