.movie-card {
    width: 20rem;
    margin: 1rem;
    border: 1px solid grey;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.movie-card img {
    margin-top: 1rem;
    width: 15rem;
    height: 22rem;
    margin-bottom: 1rem;
}

.movie-card button {
    margin: 1rem .5rem;
}

.movie-card-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite {
    font-size: 2.5rem;
}

.is-fav {
    color: red;
}